<div class="jumbotron">
  <form class="form" name="searchForm">
    <label class="sr-only" for="inputRepositorie">Repositorie</label>
    <div class="input-group input-group-lg">
      <input
        id="inputRepositorie"
        type="text"
        class="form-control"
        ng-model="repositorie"
        ng-keyup="$event.keyCode === 13 && searchRepositorie(repositorie)"
        name="name"
        placeholder="Type some repositorie"
        ng-required="true"
        ng-minlength="1"
      />
      <div class="input-group-addon">
        <button type="submit" class="btn btn-success" ng-click="searchRepositorie(repositorie)">Search</button>
      </div>
    </div>
  </form>
</div>
<table ng-if="repos.length > 0" class="table table-striped table-inverse table-hover">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Repositorie Name</th>
      <th>Language</th>
      <th>Forks</th>
      <th>Stars</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="repo in repos">
      <td>
        <a href="{{repo.owner.html_url}}" target="_blank" class="badge badge-light">
          <img ng-src="{{repo.owner.avatar_url}}" height="18px" />
          {{repo.owner.login}}
        </a>
      </td>
      <td>
        <a href="{{repo.html_url}}" target="_blank" class="badge badge-info">
          {{repo.name}}
        </a>
      </td>
      <td>{{repo.language}}</td>
      <td>{{repo.forks_count}}</a></td>
      <td>{{repo.stargazers_count}}</a></td>
    </tr>
  </tbody>
</table>

<div ng-show="repos_count === 0" class="alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>SORRY!</strong> There's no repositorie with this name.
</div>
